body{
  background-color: grey;
  text-align: justify;
font-size: 25px;
}
button{

    padding: 10px 20px;
    background-color: pink;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
button:hover {
  background-color: green;
}
